/* For styling the entire Joplin app (except the rendered Markdown, which is defined in `userstyle.css`) */

/* CSS for the Dark theme to make the CodeMirror editor mimic the scheme of the old ACE editor */

span.cm-header {
    color: #CF6A4C;
    font-size: inherit !important;
    }

span.cm-link-text, span.cm-strong, span.cm-em {
    color: #8F9D6A !important;
    font-style: normal;
    font-weight: normal;
    }

span.cm-variable-2, span.cm-hr {
    color: #F9EE98 !important;
    }

span.cm-meta, span.cm-property {
    color: #7587A6 !important;
    }

 span.cm-string.cm-url {
    color: #DDDDDD !important;
    }

span.cm-comment {
    color: #DAD085 !important;
    }
